a {
  text-decoration: none;
  cursor: pointer;
}

#book div.recipe-card {
  overflow: hidden;
  display: inline-block;
  width: 210px;
  height: 300px;
  margin: 1em 0.75em;
  border: 2px solid #b7aeae;
  border-radius: 0.75em;
  text-align: center;
}
#book div.recipe-card img {
  width: 205px;
  height: 200px;
  object-fit: cover;
  margin-top: .25em;
  border-radius: 50%;
}
#book div.caption {
  display: block;
  border: none;
  margin: 1em 0 0 0;
  padding: 0;
  font-size: 1.25em;
  font-weight: bold;
  font-family: fantasy;
  text-shadow: 2px 2px 0px #ebe7e7;
}

.detail {
  display: none;
}

.detail .header {
  text-align: center;
  margin-bottom: 1em;
}
.detail .header span {
  float: left;
  font-size: 1.75em;
}
.detail h1 {
  display: inline-block;
  margin: 0 auto;
}
.detail .content {

}
.detail .content .image {
  display: inline-block;
  width: 450px;
  margin: 0 3px 0 0;
  padding: 0 3px 0 0;
  border-width: 0;
  border-right: 1px solid #f4eeee;
  border-image: linear-gradient(to top, #f4eeee, rgba(0, 0, 0, 0)) 1 100%;
}
.detail .content .image img {
  max-width: 445px
}
.detail .content .recipe {
  display: inline-block;
  width: 450px;
  margin: 0;
  vertical-align: top;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  #book div.recipe-card {
    width: 145px;
    height: 195px;
  }
    #book div.recipe-card img {
      width: 125px;
      height: 125px;
    }
    #book div.recipe-card.caption {
      font-size: .85em;
    }

  .detail .content .image {
    display: initial;
    float: left;
    width: 100px;
  }
  .detail .content .image img {
    max-width: 95px
  }
  .detail .content .recipe {
    display: initial;
  }
}

@media only screen
  and (min-device-width: 375px)
  and (min-device-height: 812px)
  and (-webkit-device-pixel-ratio: 3) {

  #book div.recipe-card {
      width: 145px;
      height: 195px;
    }
    #book div.recipe-card img {
      width: 125px;
      height: 125px;
    }
    #book div.recipe-card.caption {
      font-size: .85em;
    }

  .detail .content .image {
    display: initial;
    float: left;
    width: 100px;
  }
  .detail .content .image img {
    max-width: 95px
  }
  .detail .content .recipe {
    display: initial;
  }
}
