  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'styles.css' | relative_url}}">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-title" content="{{ page.title }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="{{ 'icon.png' | relative_url }}">
    <link rel="icon" type="image/png" href="{{ 'icon.png' | relative_url }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    <script src="{{ 'scripts.js' | relative_url}}"></script>
  </head>
