
<html
{% include head.html %}
  <body class="detail">
    <div class="header">
      <span><a href="javascript:history.back();">⬅</a></span>
      <h1>{{page.title}}</h1>
    </div>
    <div class="content">
      <div class="image"><img src="{{page.image}}" /></div>
      <div class="recipe">
        {{page.description | markdownify}}
        <h2>What You'll Need</h2>
        {% capture list %}
          {% for ingredient in page.ingredients %}
* {{ingredient-}}
          {% endfor %}
        {% endcapture %}
        {{ list | markdownify }}
        {{page.content | markdownify}}
      </div>
    </div>
  </body>
</html>
